*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}  
  
  .contact-bar{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;         
    padding: 10px;
    flex-wrap: wrap;
}
header{

display:flex;

justify-content:space-between;

align-items:center;

background:white;
gap: 25px;
padding:10px 20px;

}

.logo img{
    width:60px;
    height:60px;
    object-fit:contain;
}
.college-name h1{

    flex:1;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin: 0;
    
}
.college-name span{
    font-size: 16px;
    color: orange;
    font-weight: normal;
    margin-left: 10px;
    
}
.header-images img{

    width:60px;

    height:70px;

    object-fit:contain;

    border-radius:5px;

}
.header-images{

    display:flex;

    gap:10px;
    
}
.contact-box{
    background-color: #0066cc;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-align:center;
    width: 170px;

}
.contact-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;

}
.contact-number{
    font-size: 20px;
   
    font-weight: bold;
}
marquee{
    background-color:#f5f5f5;
    color:blue;
    font-size:20px;
    font-weight:bold;
    padding:10px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #0066cc;
    padding: 20px;
    gap: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover{
    color: darkblue;
}
.building img{

width:100%;

height:auto;

object-fit:cover;

}
.welcome-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px;
    background: #f8f8f8;
}
.video-container{
    flex:1;
    margin: auto;
    width: 100%;
    max-width: 600px;

}
.video-container iframe{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 350px;
}
.anits-intro{
    flex: 1;
}

.events-title{
    color: #0033cc;
    font-size: 32px;
    margin-bottom: 20px;
}
.text-justify{
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
}
.glance-section{
    padding:60px 40px;
    background:#f8f9fa;
    text-align:center;
}

.events-title{
    font-size:34px;
    color:#003399;
    margin-bottom:40px;
}

.counter-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.counter-cards__item{
    padding:30px 20px;
    border-radius:12px;
    color:white;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.counter-cards__item:hover{
    transform:translateY(-8px);
}

.counter-cards__number{
    font-size:38px;
    margin-bottom:15px;
    font-weight:bold;
}

.counter-cards__item p{
    font-size:18px;
    line-height:1.5;
}

.yellow{
    background:#f4b400;
}

.green{
    background:#34a853;
}

.red{
    background:#ea4335;
}

@media(max-width:992px){
    .counter-cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .counter-cards{
        grid-template-columns:1fr;
    }
}

footer{

background:#222;

color:white;

text-align:center;

padding:20px;

}

